.donate_button {
    min-width: 349px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.donate_button:disabled {
    cursor: not-allowed;
}

.donate_button.active {
    background-color: #fff;
    color: #090909;
}

.donate_button.inactive {
    background-color: #3A3737;
    color: #111010;
    border: none;
}