.invite_friends_button {
    width: 360px;
    height: 53px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 13px;
    padding: 10px 5px;
    color: #000;
    background-color: #fff;
    box-shadow: 10px 5px 5px  rgba(253, 82, 174, 0.9);
}