.invite_friends_button {
    font-family: Inter, sans-serif;
    /*align-self: flex-end;*/
    width: 100%;
    max-width: 21.8125rem;
    text-align: center;
    font-size: 1.5625rem;
    line-height: 22px;
    font-weight: bold;
    border: none;
    border-radius: 13px;
    padding: 0.8125rem 0;
    color: #000;
    background-color: #fff;
    margin: 0 calc(1.65625rem - 1.40625rem);
    /*margin: auto calc(1.65625rem - 1.40625rem) 0 calc(1.65625rem - 1.40625rem);*/
}