.get-donut-button {
    margin-bottom: 15px;
    width: 349px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    color: #000;
    border: none;
}

.donut-symbol {
    margin-left: 13px;
    margin-right: 4px;
}


.get-donut-button.active {
    background-color: #fff;
    box-shadow: 10px 5px 5px  rgba(253, 82, 174, 0.9);
}

.get-donut-button.inactive {
    background-color: #42413F;
}