.get-donut-button {
    margin-bottom: clamp(10px, 1.25rem, 15px); /* Адаптивный отступ */
    width: clamp(220px, 29.083rem, 349px); /* Увеличиваем минимальную ширину */
    height: clamp(44px, 4rem, 48px); /* Увеличиваем минимальную высоту */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(16px, 2.083rem, 25px); /* Минимальный размер текста 16px */
    font-weight: bold;
    border-radius: 0.83rem;
    color: #000;
    border: none;
}

.donut-symbol {
    margin-left: 0.8rem;
    margin-right: 0.25rem;
}

.get-donut-button.inactive {
    background-color: #42413F;
}