.amount-modal-overlay {
    position: fixed; /* Окно должно быть зафиксировано относительно всего экрана */
    top: 0;           /* Отступ от верхнего края */
    left: 0;          /* Отступ от левого края */
    width: 100vw;     /* Ширина фона — 100% от ширины экрана */
    height: 100vh;    /* Высота фона — 100% от высоты экрана */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    display: flex;    /* Flexbox для центрирования модального окна */
    align-items: center;  /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    z-index: 1000;    /* Обеспечивает, что окно будет поверх остальных элементов */
}

.amount-modal-container {
    width: 100%;
    margin: 0 1.375rem 0 1.4375rem;
    background-color: #100f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.625rem;
}

.amount-modal-container .amount-modal-message {
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    margin: 1.3125rem 0 1.3125rem 0;
}

.amount-input-container {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5625rem 0.5rem 1.5625rem;
}

.amount-input-symbol {
    position: absolute;
    left: 0.9375rem;
}

.amount-input-text {
    position: absolute;
    left: 2.5475rem;
}

.amount-input {
    background: #3A3737;
    width: 100%;
    height: 3.25rem;
    display: block;
    border: 2px solid #8B8B8B;
    padding-left: 5.5rem;
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #E42A93;
    border-radius: 0.625rem;
}

.amount-input:focus {
    outline: none; /* Убираем стандартную обводку */
    box-shadow: none; /* Убираем возможный тень, если она есть */
}

.ton-info-container {
    width: 100%;
    margin: 0.0625rem 1.5625rem 1.25rem 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ton-info-balance {
    display: flex;
    align-items: center;
    gap: 0.1875rem;
}


.ton-info-balance span{
    color: #5E5E5E;
    font-size: 0.5rem;
    font-weight: bold;
}

.ton-info-warning {
    display: flex;
    align-items: center;
    gap: 0.1875rem;
}

.ton-info-warning span {
    color: #C62225;
    font-size: 0.5rem;
    font-weight: bold;
}

.amount-confirm-button {
    width: 100%;
    max-width: calc(100% - 8.75rem);
    margin: 0 auto 2.25rem auto;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.helpers {
    /*background-color: #2a2a2a;*/
    height: 40px;
    padding: 0 16px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.range-slider {
    display: block;
    height: calc(100% - 6px);
    position: relative
}

.range-slider input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    border-radius: 16px;
    cursor: pointer;
    height: 32px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    outline: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}

input[type="range"]:focus {
    outline: none; /* Убираем обводку при фокусе */
}

.range-slider input[type="range"]::-webkit-slider-runnable-track {
    background: transparent;
    height: 0
}

.range-slider input[type="range"]::-moz-range-track {
    background: transparent;
    height: 0
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: radial-gradient(#E42A93,#E42A93 35%,transparent 0,transparent 100%);
    border-radius: 50%;
    height: 32px;
    /*margin-left: calc(var(--result)*1px);*/
    margin-top: -16px;
    width: 32px
}


.range-slider input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #E42A93;
    border-radius: 50%;
    height: 32px;
    /*margin-left: calc(var(--result)*1px);*/
    margin-top: -16px;
    width: 32px
}


.marks {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 16px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.line {
    background-color: #5e5e5e;
    height: 1px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute
}

.filled {
    background-color: #E42A93;
    height: 1px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: var(--width)
}

.inner {
    height: 100%;
    position: relative
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Для позиционирования на линии */
    left: var(--left, 0); /* Используем кастомное значение для позиции */
    transform: translateX(-50%); /* Центруем по оси X */
    height: 100%;
}

.point {
    background-color: #5e5e5e;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.point.active {
    background-color: #E42A93;
}

.label {
    position: absolute;
    bottom: -8px; /* Расстояние от точки до подписи */
    color: #5e5e5e;
    font-size: 10px;
    font-variant-numeric: lining-nums tabular-nums slashed-zero;
    font-weight: 500;
    line-height: 12px;
    white-space: nowrap;
}

.amount-confirm-button {
    width: 100%;
    height: 2.0625rem;
    max-width: calc(100% - 8.75rem);
    margin: 0 auto 2.25rem auto;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #3A3737;
}