@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачное затемнение */
    z-index: 999; /* Уровень поверх приложения, но ниже модального окна */
    opacity: 0; /* Исходное состояние — прозрачность */
    transition: opacity 0.3s ease; /* Анимация появления */
}

.modal-overlay.active {
    user-select: none; /* Запрещаем выделение текста */
    -webkit-user-select: none; /* Для браузеров на основе WebKit */
    -ms-user-select: none; /* Для IE */
    opacity: 1; /* Полное затемнение */
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 230px;
    /*height: calc(env(safe-area-inset-bottom) + 14.375rem) ;*/
    background: #121214;
    border-radius: 16px 16px 0 0;
    z-index: 1000;
    animation: slideUp 0.3s ease forwards;
}

.modal.slide-out {
    animation: slideDown 0.3s ease forwards;
}

.modal-header {
    position: relative;
    margin-bottom: clamp(1rem, 1.4375rem, 23px);
    display: flex;
    justify-content: center;
    align-items: center; /* Центрирует содержимое по вертикали */
    height: clamp(2rem, 3rem, 48px); /* Задаём адаптивную высоту */
    width: 100%;
}

.modal-header-wallet {
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

.modal-close {
    position: absolute;
    right: clamp(0.5rem, 1rem, 16px); /* Адаптивный отступ от правого края */
    top: 50%;
    transform: translateY(-50%); /* Центрирует по вертикали */
    width: clamp(1.5rem, 1.875rem, 30px); /* Адаптивная ширина */
    height: clamp(1.5rem, 1.875rem, 30px); /* Адаптивная высота */
    background-color: #121214;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    margin-bottom: 2.0625rem;
    width: 23.5rem;
    height: 3.6875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3A3737;
    border-radius: 10px;
    outline: 3px solid #E42A93;
    outline-offset: -3px;
    /*padding: 0 0.5625rem 0 1.0625rem;*/
}

.modal-content-wallet {
    font-size: 0.9375rem;
    color: #fff;
    margin-left: 0.5625rem;
}

.modal-content-status {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-right: 1.0625rem;
}

.active-status {
    font-size: 0.625rem;
    color: #fff;
    font-weight: bold;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding-top: 0.625rem;
}

.modal-footer button {
    background: #121214;
    color: #C62225;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.2s;
}

.modal button:hover {
    cursor: pointer;
}
