* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #090909;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%; /* Убедитесь, что корневой элемент занимает весь экран */
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 38px 0 61px 0; /* Устанавливаем отступы сверху и снизу */
    opacity: 0; /* Начальное состояние, невидим */
    animation: fadeIn 1s ease-in-out forwards; /* Применяем анимацию */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Начальное состояние: невидимый */
    }
    to {
        opacity: 1; /* Конечное состояние: полностью видимый */
    }
}

.fade-out {
    animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}