.app-friends-container {
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
    padding: 0 1.40625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Inter, sans-serif;
}

.app-friends-wrapper {
    width: 100%;
    height: 100%;
    max-width: 22.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-page-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.125rem;
}

.referral-ton-claimed {
    width: 100%;
    /*max-width: 22.3125rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1A1A;
    padding: 1rem 0;
    gap: 0.5rem;
    border-radius: 10px;
    margin-bottom: 0.8125rem;
}

.referral-ton-claimed span:first-child {
    font-size: 1rem;
    font-weight: bold;
    color: #8B8B8B;
}

.referral-ton-claimed span:last-child {
    font-size: 1.5625rem;
    font-weight: bold;
    color: #fff;
}

.referral-ton-claimed div {
    display: flex;
    align-items: center;
}

.ton-symbol {
    margin-right: 0.3125rem;
}

.referral-ton-to-claim {
    width: 100%;
    /*max-width: 22.3125rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1A1A;
    padding: 1rem 0;
    gap: 0.875rem;
    border-radius: 10px;
    margin-bottom: 1.8125rem;
}

.referral-ton-to-claim-header{
    display: flex;
    align-items: center;
}

.referral-ton-to-claim span{
    font-size: 1.5625rem;
    font-weight: bold;
    color: #fff;
}

.claim-button-container {
    padding: 0 0.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.claim-ton-button {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
    background-color: #E42A93;
    border: none;
    border-radius: 5px;
    padding: 0.34375rem 1.5rem;
}

.claim-donut-button {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #E42A93;
    background-color: #1B1A1A;
    border: 1px solid #E42A93;
    /*outline-offset: 1px;*/
    border-radius: 5px;
    padding: 0.34375rem 2.78125rem;
}

.text-container-friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 2rem;
}

.text-container-friends div {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.text-container-friends div img{
}

.friends-number {
    width: 100%;
    max-width: 22.3125rem;
    display: flex;
    /*justify-content: flex-start;*/
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    /*align-self: start;*/
}

.friends-list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Это пространство растягивается и остается для списка друзей */
    overflow-y: auto;
    min-height: 1px;
}