.your-amount-button {
    min-width: 375px;
    height: 66px;
    text-align: center;
    background-color: #090909;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid #282828;
    border-radius: 13px;
    margin-bottom: 136px;
}

.your-amount-button.active {
    border: 1px solid #E42A93;
    color: #E42A93;
}

/*.your-amount-button:hover {*/
/*    background-color: #c0c0c0;*/
/*}*/

/*.your-amount-button.active:hover {*/
/*    background-color: #45a049;*/
/*}*/

.modal-donation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.modal-content {*/
/*    background-color: white;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    width: 300px;*/
/*    text-align: center;*/
/*}*/

.modal-donation-content {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    border: 2px solid #797874;
    border-radius: 30px;
    width: 388px;
    text-align: center;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.custom-amount-input {
    width: 100%;
    padding: 18px 46px;
    margin-top: 25px;
    color: #ffffff;
    background-color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #797874;
    border-radius: 15px;
    outline: none;
}

.custom-amount-input::placeholder {
    color: #797874; /* Белый цвет для текста плейсхолдера */
    font-weight: bold; /* Жирный текст плейсхолдера */
    text-align: center; /* Центровка текста */
}

.custom-amount-input:focus::placeholder {
    opacity: 0; /* Скрывает плейсхолдер при фокусе */
}

.custom-amount-input::-webkit-outer-spin-button,
.custom-amount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.confirm-button {
    padding: 10px 40px;
    background-color: #000000;
    font-weight: bold;
    color: white;
    border: 2px solid #797874;
    border-radius: 15px;
    cursor: pointer;
}

.confirm-button.disabled {
    color: #797874;
    cursor: not-allowed;
}

.cancel-button {
    padding: 10px 40px;
    background-color: #000000;
    font-weight: bold;
    color: white;
    border: 2px solid #797874;
    border-radius: 15px;
    cursor: pointer;
}

.confirm-button:not(.disabled):hover {    box-shadow: 5px 5px 5px  rgba(253, 82, 174, 0.9);


}

.cancel-button:hover {
    box-shadow: 5px 5px 5px  rgba(253, 82, 174, 0.9);
}

.modal-donation-header {
    font-family: Arial, sans-serif; /* Устанавливает Arial для блока */
    font-size: 25px;
    font-weight: bold;
}