.connect-button-donation {
    margin-bottom: 0;
}

.connect-button-auth-donation {
    margin-bottom: 0;
}

.donate-page-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.app-donation-container {
    font-family: 'Inter', sans-serif;
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100% ; /* Растягиваем на полную высоту родителя */
    width: 100%; /* Растягиваем на полную ширину */
    overflow-y: auto; /* Добавляем прокрутку, если контент выходит за пределы */
}

.app-donation-wrapper {
    width: 100%;
    max-width: 23.4375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ton-amount-container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-bottom: 1.25rem;
}

.donate-page-message {
    margin-bottom: 2.4375rem;
    text-align: center;
    font-size: 2.1875rem;
    font-weight: bold;
    max-width: 18.75rem;
}